# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db